@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Rowdies', cursive;
}
:root{
  --bg_main: #363543;
  --bg_main2:#4a495a;
  --bg_secondary: #282833;
  --text_main: #FAFFFC;
  --text_secondary: #7a4fd1;
  --text_3:#cbcbee;
  --white: #fff;
  --black: #222;
  --fake-tag: #555;
}

h1,h3{
  color: var(--text_main);
  font-family: 'Roboto', sans-serif;
}
h4{
  font-family: 'Supermercado One', cursive;
}
h2{
  color: var(--white);
}
p,div{
  font-family: 'Roboto', sans-serif;
}
